/* src/components/Footer.css */
.footer {
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.footer h3 {
    margin-top: 0;
    font-weight: bold;
    color: black;
    text-align: left;
}

.footer h4 {
    font-weight: bold;
    text-align: left;
}

.footer p,
.footer a {
    font-size: 14px;
    margin: 5px 0;
    text-align: left;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer a {
    color: #007bff;
    text-decoration: none;
    line-height: 1.5;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .about-us,
.footer .steps,
.footer .faq,
.footer .footer-links {
    margin-bottom: 20px;
}

.footer ul {
    list-style-type: disc;
    /* Add bullet points */
    padding-left: 20px;
    /* Adjust padding to make room for bullet points */
    list-style-position: outside;
    /* Ensure bullets are outside the content area */
}

.footer li {
    margin-bottom: 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}